@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "libs/slick";

@import "base/variables";
@import "base/mixins";
@import "base/animations";

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    margin: 20px auto 17px auto;
    width: 148px;
    height: 1px;
    background-color: $main_color_1;
}

@import "blocks/titles";
@import "blocks/buttons";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/advantages";
@import "blocks/work";
@import "blocks/_agent";
@import "blocks/delivery";
@import "blocks/consultation";
@import "blocks/manager";
@import "blocks/scheme";
@import "blocks/carousel";

@import "blocks/media";

