@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__contacts {
            flex-direction: column;
        }
        &__contact {
            margin-right: 0;
        }
        &__btn {
            margin-top: 10px;
        }
    }
    .promo {
        &__block {
            width: 230px;
        }
        &__subtitle {
            font-size: 66px;
            line-height: 66px;
        }
    }
    .advantages {
        &__block {
            width: 435px;
        }
        &__item {
            &_descr {
                width: 355px;
            }
        }
    }
    .work {
        &__block {
            width: 300px;
        }
    }
    .agent {
        &__descr {
            width: 935px;
        }
    }
    .delivery {
        &__block {
            margin-top: 0;
            justify-content: space-around;
        }
        &__wrapper {
            margin-top: 34px;
        }
    }
    .scheme {
        &__wrapper2 {
            width: 100%;
        }
        &__block {
            &:nth-child(4) {
                margin: 30px auto 0 auto;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .subtitle {
        font-size: 24px;
        line-height: 24px;
    }
    .header {
        flex-direction: column;
        &__menu {
            margin: 25px 0;
        }
    }
    .promo {
        padding: 15px 0 60px 0;
        &__subtitle {
            font-size: 49px;
            line-height: 49px;
        }
        &__descr {
            font-size: 29px;
            line-height: 29px;
        }
        &__divider {
            width: 650px;
            &-block {
                width: 305px;
            }
        }
        &__wrapper {
            margin-top: 0;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__block {
            margin-top: 35px;
            width: 225px;
        }
    }
    .title {
        margin-top: 20px;
        font-size: 21px;
        line-height: 21px;
    }
    .advantages {
        padding: 50px 0 5px 0;
        &__wrapper {
            flex-direction: column;
        }
        &__block {
            width: 100%;
        }
        &__item {
            &_descr {
                width: 640px;
            }
        }
    }
    .work {
        padding: 40px 0 35px 0;
        &__descr {
            font-size: 18px;
            line-height: 22px;
            width: 725px;
        }
        &__wrapper {
            margin-top: 0;
            flex-wrap: wrap;
        }
        &__block {
            margin-top: 35px;
            width: 330px;
            &_central {
                margin: 35px auto 0 auto;
            }
        }
    }
    .agent {
        min-height: 325px;
        padding: 40px 0 40px 0;
        &__descr {
            width: 535px;
        }
    }
    .delivery {
        padding: 40px 0;
        &__block {
            margin-top: 0;
            justify-content: space-around;
        }
        &__wrapper {
            margin-top: 34px;
        }
        &__descr {
            font-size: 18px;
            line-height: 22px;
            width: 650px;
        }
    }
    .consultation {
        &__wrapper {
            height: 215px;
        }
        &__form {
            margin-top: 58px;
            width: 545px;
            input {
                margin-top: 10px;
                &:nth-child(3) {
                    display: block;
                    margin: 10px auto 0 auto;
                }
            }
        }
        &__btn {
            &_wrapper {
                top: 289px;
            }
        }
    }
    .manager {
        min-height: 325px;
        padding: 40px 0 40px 0;
        &__descr {
            width: 535px;
        }
    }
    .scheme {
        padding: 40px 0 40px 0;
        &__wrapper1 {
            justify-content: space-around;
        }
        &__wrapper2 {
            justify-content: space-around;
        }
        &__block {
            &:nth-child(4) {
                margin: 30px 0 0 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .subtitle {
        font-size: 22px;
        line-height: 22px;
    }
    .promo {
        padding: 15px 0 50px 0;
        position: relative;
        .hamburger {
            display: block;
            position: absolute;
            top: 15px;
            right: 10px;
            width: 26px;
            height: 15px;
            span {
                display: block;
                height: 2px;
                width: 100%;
                margin-bottom: 3px;
                background-color: white;
                border-radius: 4px;
                transition: 0.5s all;
            }
            &_active {
                span {
                    margin-bottom: -2px;
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg);
                    }
                }
            }
        }
        &__subtitle {
            font-size: 36px;
            line-height: 36px;
        }
        &__descr {
            font-size: 21px;
            line-height: 21px;
        }
        &__divider {
            width: 480px;
            &-block {
                width: 222px;
            }
        }
        &__btn {
            width: 220px;
            height: 50px;
            line-height: 50px;
        }
    }
    .header {
        &__menu {
            position: fixed;
            top: -26px;
            left: -100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(236, 100, 75, 0.6);
            transition: 0.5s all;
            &-item {
                padding: 10px 0;
                border-right: none;
            }
            &-link {
                font-size: 20px;
                line-height: 20px;
                color: white;
                &:hover {
                    border-bottom: none;
                    color: black;
                }
                &:focus {
                    color: black;
                }
            }
            &_active {
                left: 0;
            }
        }
        &__contacts {
            margin-top: 20px;
        }
    }
    .title {
        font-size: 18px;
        line-height: 18px;
    }
    .advantages {
        padding: 40px 0 0px 0;
        &__item {
            &_descr {
                width: 465px;
            }
        }
    }
    .work {
        &__subtitle {
            width: 435px;
            margin: 0 auto;
            font-size: 22px;
            line-height: 24px;
        }
        &__descr {
            width: 500px;
        }
        &__wrapper {
            justify-content: center;
        }
    }
    .delivery {
        padding: 30px 0;
        &__descr {
            width: 390px;
        }
    }
    .consultation {
        &__descr {
            font-size: 25px;
            line-height: 25px;
        }
        &__form {
            width: 400px;
            justify-content: space-around;
        }
        &__wrapper {
            height: 270px;
        }
        &__btn {
            &_wrapper {
                top: 341px;
            }
        }
    }
    .scheme {
        padding: 30px 0 30px 0;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .subtitle {
        font-size: 20px;
        line-height: 24px;
    }
    .title {
        font-size: 15px;
    }
    .promo {
        padding: 15px 0 40px 0;
        &__subtitle {
            font-size: 31px;
            line-height: 37px;
        }
        &__descr {
            font-size: 15px;
            line-height: 20px;
        }
        &__divider {
            width: 280px;
            margin-top: 25px;
            &-block {
                width: 125px;
            }
        }
    }
    .header {
        &__menu {
            width: 85%;
            &-link {
                padding: 0 35px;
            }
        }
    }
    .advantages {
        padding: 30px 0 0px 0;
        &__wrapper {
            margin-top: 20px;
        }
        &__item {
            flex-direction: column;
            &_title {
                font-size: 15px;
                line-height: 18px;
                text-align: center;
            }
            &_descr {
                margin-top: 10px;
                width: 100%;
            }
        }
    }
    .work {
        padding: 25px 0 20px 0;
        &__subtitle {
            width: 280px;
        }
        &__descr {
            width: 280px;
            font-size: 17px;
            line-height: 21px;
        }
        &__block {
            width: 280px;
        }
    }
    .agent {
        min-height: 325px;
        padding: 25px 0 20px 0;
        &__descr {
            margin: 15px auto 0 auto;
            width: 280px;
            font-size: 17px;
            line-height: 25px;
        }
    }
    .delivery {
        padding: 20px 0;
        &__subtitle {
            width: 270px;
            margin: 0 auto;
        }
        &__descr {
            font-size: 17px;
            line-height: 21px;
            width: 278px;
        }
    }
    .consultation {
        &__descr {
            width: 283px;
            margin: 0 auto;
            font-size: 19px;
            line-height: 22px;
        }
        &__white {
            top: 63px;
        }
        &__form {
            width: 265px;
        }
        &__btn {
            &_wrapper {
                top: 360px;
            }
        }
    }
    .manager {
        min-height: 325px;
        padding: 25px 0 20px 0;
        &__descr {
            margin: 15px auto 0 auto;
            width: 280px;
            font-size: 17px;
            line-height: 25px;
        }
    }
    .scheme {
        padding: 20px 0 20px 0;
    }
}