.title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    color: Silver;
}

.subtitle {
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #2e2e2e;
}
.descr {
    font-size: 21px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    color: #2e2e2e;
}